@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* docs: https://tailwindcss.com/docs/functions-and-directives 
*/

/* some dummies */
@layer base {
  .text-xxs {
    @apply text-[8px];
  }
}

@layer components {
  .center {
    @apply grid place-items-center;
  }
}

@layer utilities {
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

